ul li {
    list-style-type: none;
    padding: 10px 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    color: blue;
    transition: 0.2s;
    text-decoration: underline;
}
